/* Prerequisites ( Fonts / Body ) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    background: linear-gradient(to left,#87635d ,#6433E0);
    padding: 20px;
    font-family: 'Montserrat', Helvetica;
    transition: all 1s;
}

a, h1, h2, h3, h4, h5, h6, p, label{
    background: linear-gradient(90deg, #12C2E9 0%, #C471ED 33%, #F64F59 66%, #F64FE4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* End Section */
/* Positioning */

.centered{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 1s;
}

.pos-right{
    float: right;
    text-align: right;
    transition: all 1s;
}

.pos-left{
    float: left;
    text-align: left;
    transition: all 1s;
}

/* Main Application */

#app, .app, button{
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    transition: all 1s;
}

/* == Settings == */
#settings #setAudio .title{
    float: left;
    margin-left: 33.33%;
    font-size: 250%;
}

#settings #setAudio .settingsbuttons{
    float: right;
    margin-right: 33.33%;
}

/* == Game == */

#alerts{
    background-color: #EEE;
    border-radius: 10px;
    width: 66.66%;
}

.dealer{
    float:left;
    margin-left:25%;
}
.user{
    float:right;
    margin-right:25%;
}
/* End Section */
/* Seperators / Spacers */

#seperator,.seperator{
    background: #20262E;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    transition: all 1s;
}

.seperator-small{
    background: #20262E;
    height: 5px;
    width: 33.333%;
    border-radius: 5px;
    transition: all 1s;
}

.spacer-small-height{
    width: 100%;
    height: 15px;
    transition: all 1s;
}

.clear{
    clear:both;
}

/* End Section */
/* HTML Tags / Custom Tags */

li{
    margin: 8px 0;
    transition: all 1s;
}

h2{
    font-weight: bold;
    margin-bottom: 15px;
    transition: all 1s;
}

footer{
    background: #eee;
    color: black;
    font-size: small;
    border-radius: 4px;
    padding: 10px;
    transition: all 1s;
    width: 66.66666%;
    cursor: pointer;
}

a{
    text-decoration: none;
    transition: all 1s;
    cursor: pointer;
}

button{
    background: linear-gradient(to left,#bb7063 , #7256B6);
    background-color: #196BCA;
    color: #fff;
    font-family: 'Montserrat', Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.2%;

}
button:hover{
    background: linear-gradient(to right,#6433E0 ,#87635d);
    background-color: #5482d0;
}
button:active{
    transform: scale(0.95);
}
button:disabled{
    background: grey;
}
/* End Section */